body{
	padding-top: 90px;
	background-color: https://d13xymm0hzzbsd.cloudfront.net/1/20210909/16312244820236.png;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover ;
}
header{
	position: fixed;
	margin-top: -100px;
	display: flex;
	background: white;
	width: 100%;
	right: .5px;
	font-family: 'Kanit', sans-serif;
	border-bottom: solid black;
}
header nav{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	min-width: 500px;
	
}
header nav ul li{
	list-style: none;
	margin: 0 40px;
}
header li{
	list-style: none;
}
header li img{
	display: inline-block;
	width: 170px;
	height: 70px;
	list-style: none;
	padding: 10px;
}
/*.slider img{
	
		width: 300px;
		height: 300px;
}
.slider li{
	list-style: none;
	
}
.slider{
	overflow: hidden;
	
	margin: auto;
	
}
.slider ul{
	padding: 0;
	display: flex;
	width: 400%;
	animation-direction: alternate;
	animation: cambio 20s infinite;
}
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	
	25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
.contenedor_slider{
	width: 300px;
	height: 300px;*/

	

}
aside{
	float: left;
}
section{
	color: white;
	float: left;
	width: 80%;
}
section h1{
	display: flex;
	align-items: center;
	margin: auto;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 50px;
	font-family: 'Kanit', sans-serif;
}
article section aside{
	font-family: 'Kanit', sans-serif;

}
p{
	font-size: 20px;
	font-family: 'Kanit', sans-serif;
	color: skyblue;

}
Table{
	border: solid white;
}
tr{
	border: solid white;

}
td{
	border: solid white
}
th{
	border: solid white;
}
aside{
	float: left;
	width: 20%;
	margin: 20px;

}
aside p{
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 30px;
	margin: 20px;

}
nav ul li:hover{
	border-bottom: solid black;
	cursor: pointer;
}
.productos ul li{
	list-style: none;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	display: flex;
	float: left;
}
.productos img{
	width: 150px;
	height: 200px;
	display: inline-block;
	float: left;
	margin: 20px;
	border: solid black;
  }

	.slider5 img{
	
		width: 150px;
		height: 150px;
}
.slider5 li{
	list-style: none;
	
}
.slider5{
	overflow: hidden;
	
	margin: auto;
	
}
.slider5 ul{
	padding: 0;
	display: flex;
	width: 400%;
	animation-direction: alternate;
	animation: cambio 20s infinite;
}
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	
	25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
/*.contenedor_slider{
	width: 300px;
	height: 300px;*/
		.slider4 img{
	
		width: 150px;
		height: 150px;
}
.slider4 li{
	list-style: none;
	
}
.slider4{
	overflow: hidden;
	
	margin: auto;
	
}
.slider4 ul{
	padding: 0;
	display: flex;
	width: 400%;
	animation-direction: alternate;
	animation: cambio 20s infinite;
}
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	
	25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
	.slider3 img{
	
		width: 150px;
		height: 150px;
}
.slider3 li{
	list-style: none;
	
}
.slider3{
	overflow: hidden;
	
	margin: auto;
	
}
.slider3 ul{
	padding: 0;
	display: flex;
	width: 400%;
	animation-direction: alternate;
	animation: cambio 20s infinite;
}
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	
	25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
	.slider2 img{
	
		width: 150px;
		height: 150px;
}
.slider2 li{
	list-style: none;
	
}
.slider2{
	overflow: hidden;
	
	margin: auto;
	
}
.slider2 ul{
	padding: 0;
	display: flex;
	width: 400%;
	animation-direction: alternate;
	animation: cambio 20s infinite;
}
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	
	25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
	.slider1 img{
	
		width: 150px;
		height: 150px;
}
.slider1 li{
	list-style: none;
	
}
.slider1{
	overflow: hidden;
	
	margin: auto;
	
}
.slider1 ul{
	padding: 0;
	display: flex;
	width: 400%;
	animation-direction: alternate;
	animation: cambio 20s infinite;
}
@keyframes cambio{
	0%{margin-left: 0;}
	20%{margin-left: 0;}

	
	25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

	